{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'Forgot_Password_page\style.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h2>Forgot Password</h2>
            <p>Enter your email and we'll send you a reset link.</p>
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Send Reset Link</button>

            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>
</html>
