{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="boxx">
    <form method="POST">
        {% csrf_token %}
        <h1>Reset Password</h1>
        <div class="i-box">
            <input type="email" name="email" placeholder="Enter your registered email" required>
        </div>
        <button type="submit" class="btn">Send Reset Link</button>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
</div>
</body>
</html>
